body {
  font-family: Source Sans Pro, sans-serif;
  background-color: #F2F2F2;
  padding-top: 20px;
}

.wrapper {
  background-color: #FFFFFF;
  max-width: 1024px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  position: relative;
  width: 169px;
  padding-top: 23px;
  padding-left: 25px;
  padding-bottom: 156px;
  border-right: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar__list {
  margin-top: 43px;
}

.sidebar__list-item > .sidebar__list-item_active {
  color: #0F1E36;
  opacity: 1;
}

.sidebar__list-item {
  padding-left: 25px;
  margin: 24px 0;
  background-repeat: no-repeat;
  background-position: 0;
}

.sidebar__list-item a {
  font-size: 12px;
  line-height: 16px;
  color: #0F1E36;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.sidebar__list-item a:hover {
  color: #3E2AD1;
  opacity: 1;
}

.discover {
  background-image: url("../picture/bullets_icon/Discover.png");
}

.songs {
  background-image: url("../picture/bullets_icon/Songs.png");
}

.albums {
  background-image: url("../picture/bullets_icon/Albums.png");
}

.artists {
  background-image: url("../picture/bullets_icon/Artists.png");
}

.youtube {
  background-image: url("../picture/bullets_icon/YouTube.png");
}

.playlist {
  padding-left: 0;
}

.favourite {
  background-image: url("../picture/bullets_icon/Favourite.png");
}

.history {
  background-image: url("../picture/bullets_icon/Recent History.png");
}

.download {
  background-image: url("../picture/bullets_icon/Download Items.png");
}

.folder {
  background-image: url("../picture/bullets_icon/Local Files.png");
}

.sidebar__logo {
  display: inline-block;
  width: 89px;
  height: 34px;
  background-image: url(../picture/Mask_Group.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar_add {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 19px;
  top: 486px;
  background-image: url("../picture/bullets_icon/Plus.png");
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  width: 856px;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 67px;
  padding-left: 22px;
}

.search_bar {
  width: 349px;
}

.search_bar .input_place {
  width: 164px;
  height: 27px;
  margin-top: 22px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.75;
  background-image: url("../picture/Serch.png");
  background-repeat: no-repeat;
  background-position: 0;
}

.tv {
  background: url("../picture/TV.png");
}

.radio {
  background: url("../picture/Radio.png");
}

.bell {
  background: url("../picture/Bell.png");
}

.user {
  display: block;
  width: 246px;
  background: url("../picture/Profile Picture.png");
  background-size: 45%;
  border-left: 1px solid rgba(15, 30, 54, 0.05);
  background-repeat: no-repeat;
  background-position: 23px;
}

.block {
  display: block;
  width: 87px;
  background-size: 25%;
  border-left: 1px solid rgba(15, 30, 54, 0.05);
  background-repeat: no-repeat;
  background-position: center;
}

.slider {
  position: relative;
  width: 856px;
  height: 307px;
  background: url("../picture/artist.png");
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  position: absolute;
  top: 92px;
  left: 53px;
  width: 235px;
  color: #FFFFFF;
}

.info p {
  font-size: 16px;
  line-height: 14px;
}

.info .trending {
  font-size: 10px;
  text-transform: uppercase;
}

.artist {
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  text-transform: capitalize;
  margin: 7px auto;
}

.slider_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 43px;
}

.slider_button .play {
  width: 62px;
  height: 22px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px #BC1428;
          box-shadow: 0px 2px 8px #BC1428;
  border-radius: 3px;
  color: #E6152B;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  background-image: url("../picture/Play.png");
  background-repeat: no-repeat;
  background-position: 45px;
  background-size: 12%;
}

.slider_button .share {
  width: 24px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: url("../picture/Share.png");
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider_rect {
  position: absolute;
  bottom: 9px;
  left: 389px;
}

.slider_rect .rect {
  display: inline-block;
  width: 16px;
  height: 5px;
  background-color: #FFFFFF;
}

.slider_rect .rect:hover {
  background: #3E2AD1;
}

.tracks {
  width: auto;
  background: url("../picture/Rectangle.png");
  padding-left: 23px;
  padding-top: 24px;
}

.tracks_header {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 13px;
}

.featured_tracks {
  overflow: hidden;
  width: auto;
}

.albom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.albom_block {
  display: inline-block;
  text-align: left;
  margin-right: 20px;
}

.cover {
  width: 112px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 3px;
}

.cover_name {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}

.artist_name {
  font-size: 10px;
  line-height: 14px;
  mix-blend-mode: normal;
  opacity: 0.48;
}

.cover_first {
  background-image: url("../picture/cover/first.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cover_second {
  background-image: url("../picture/cover/Second.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cover_third {
  background-image: url("../picture/cover/Third.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cover_forth {
  background-image: url("../picture/cover/Forth.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cover_fifth {
  background-image: url("../picture/cover/Fifth.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cover_sixth {
  background-image: url("../picture/cover/Sixth.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cover_seventh {
  background-image: url("../picture/cover/Seventh.png");
  background-repeat: no-repeat;
  background-position: left;
}

.top_tracks {
  padding-top: 23px;
}

.top_tracks_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.top_tracks_list_number, .top_tracks_list_song, .top_tracks_list_artist,
.top_tracks_list_score, .top_tracks_list_time {
  font-size: 12px;
  line-height: 16px;
  color: #0F1E36;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.top_tracks_list_number, .top_tracks_list_time, .top_tracks_list_option,
.top_tracks_list_share, .top_tracks_list_like {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.top_tracks_list_song, .top_tracks_list_artist,
.top_tracks_list_score, .top_tracks_list_etc {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

.top_tracks_list_like {
  background-image: url("../picture/bullets_icon/Favourite.png");
  background-repeat: no-repeat;
  background-position: left;
}

.top_tracks_list_option {
  background-image: url("../picture/bullets_icon/Download Items.png");
  background-repeat: no-repeat;
  background-position: left;
}
/*# sourceMappingURL=style1.css.map */